{% extends 'base.html' %}

{% block content %}

    {% if form.errors%}
        <h2 style="padding: 10px;">Your username and password didn't match. Try again</h2>
    {% endif %}
    {% if user.is_authenticated %}
        <h2 style="padding: 10px;">Welcome, {{user.username}}</h2>
    {%else%}
    <div class="container" style="width: 50%;">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                {{field.label_tag}}
                {{field}}
            </div>
            {% endfor %}
           
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
    </div>
    {%endif%}
  
{% endblock %}

